.button-admin{
    background-color:#0f2a4b;
    a{
        color:white;
    }
    span{
        color:white;
    }
}

.mostra-tutti{
    background-color: #00c79c;
    color: white;
    a{
        color: white;
    }
}

.btn-esci{
    background-color: #f75e5e;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
}