
.carousel-caption{
position: absolute;
right: 15%;
bottom: 20px;
padding-top: 20px;
padding-bottom: 20px;
color: #fff;
}

#carr{
    position: absolute;
    right: 0;
    background-color:#ffbf00;
    display:flex;
    flex-direction:column;
    align-items:center; 
    box-shadow: 1px 1px 1px 1px lightgrey;
    width: 300px;
    border-radius:10px;
    padding:10px;
    margin-right:50px;
    margin-left:50px;

    // da aggiustare le media screen
    @media screen and (max-width: 768) {
        margin: auto;
    }

    h5{
        font-size: 35px;
        font-weight:bold;
    }
    .img-carr{
        width:100%;
        display: flex;
        justify-content: center;
       
        

        .moto {
            width:15%;
            padding: 10px;
        }
        .pollice{
            width:15%;
            padding: 10px;
            
        }
        .tempo{
            width:15%; 
            padding: 10px;
        }
        
    }
    .text-img-carr{
        width:100%;      
        display:flex;
        justify-content:center;
        //background-color:chartreuse;
        small{
            padding:0 5px 0 10px;
            font-size:15px;
            font-weight: bold;
        }

      }

      .contenitore-carrello-padre{
          width: 100%;
          position: relative;
      }
    
    .contenitore-carrello{
        width:100%;
        height: 150px;
        display:flex;
        justify-content:space-between;
        padding:10px;
        overflow-y:scroll;
        scrollbar-width: none;
        
        .contenitore_nome_piatto{
        font-size:15px;

        }
        .prezzo_p{
            font-size:15px;
        }

    }

    .container-btn-pag{
        margin-top:20px;
        margin-bottom:15px;

        .btn-pagamento{
            padding:10px;
            border-radius:15px;
            background-color: rgb(0, 199, 156);
            font-size: 20px;
            color: white;
            &:hover{
                color: black;
                @include transition;
            }
        }
    }
    
}
