footer {
    width: 100%;
    background-color:black;

    .container {
            display:flex;
            flex-wrap:wrap;
            justify-content: center;
    
    .card { 
        width: calc(100% / 4);
        margin:30px;
        padding: 20px;
        background-color:#464646;
        color:white;
        @media screen and(max-width:992px) {
          width: 100%;
          margin: 10px auto;
          text-align: center;
        }

     h3{
        font-size: 30px;
      }
      ul{
          list-style: none;
          & a{
            text-decoration: none;
            color:rgb(209, 207, 204);
            &:hover{
                color:orange;  
              @include transition;

            }
          }
          li{
            padding-top: 10px;

          }
        }
     }   
  }
  .font{
    color:white;
    display:flex;
    justify-content:center;
    font-size: 30px;
    padding-bottom:30px;

    i{
        padding:20px;
    }
    .fb-blue:hover{
        color:blue;
        cursor:pointer;
    }
    .inst-red:hover{
        color:red;
        cursor:pointer;
    }
    .twt-lightblue:hover{
        color:lightblue;
        cursor:pointer;
    }
  }
}
  