.navbar-brand{
  font-size: 30px;
  font-weight: bold;
  font-style: inherit;
}

.logo{
  transform: scale(1.30);
}

header {
  width: 100%;
  height:500px;
  background-position: center;
  background-size: cover;

  & .layover{
    margin:87px auto 10px auto;
    width: 100%;
    height: 100%;
    background-image: url('../../../public/img/sfondo-verde1.png');
    background-size: cover;
    background-position: center;
  }
  & nav {
    background-color:rgb(255, 191, 0) ;
   // background: linear-gradient(to center, #e2eeee, #FFBF00);
    position: fixed;
    z-index:80;
    top: 0;
    right:0;
  }

  & nav div ul li {
    font-size: 24px;
  }
    // header-content guest
   & .header-content-guest{
     display: flex;
     justify-content: center;



     @media screen and(max-width: 992px){
       flex-direction: column-reverse;
       align-items: center;
     }

     & .hcg-left{
       width: 100%;
       height: 300px;
       margin-top:60px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;

       @media screen and(max-width: 992px){
        height: 260px;
       }


       & h1 {
         color: white;
         font-family:Arial, Helvetica, sans-serif;
        font-size: 70px;
        text-align: center;
        @media screen and(max-width: 768px){
          font-size: 50px;
        }
       }

      & .header-searchbar{
        padding-top: 20px;
        display: flex;
        align-items: flex-end;

        @media screen and(max-width: 766px){
          flex-direction: column;
        }

        & input{       
          width: 400px;
          border-radius: 10px; 
          margin-top: 20px;
          outline: none;
          text-align:center;
          padding:10px 5px;

          @media screen and(max-width: 768px){
            width: 300px;
            padding: 5px 0;
            margin-top: 5px;

          }
        }

        & .container-search {
          background-color:white;
          @media screen and(max-width: 766px){
          background-color: transparent;
          border-radius:10px;
          

          }
          & ul {
            list-style: none;
          
            
            & li{
              width: 100%;
              font-size:20px;
              text-transform: capitalize;
              &:hover{
                background-color:rgb(255, 191, 0, 0.4);
                cursor: pointer;
              }
            }
          }
        }
      }

     }
     
     & div.hcg-right{
       width: 60%;
       height: 300px;
       display: flex;
       justify-content: center;
       align-items: center;
       @media screen and(max-width: 992px){
        height: 200px;
       }

      //  & img {
      //    height: 250px;
      //    margin-right: 10px;

      //  }

       & i {
         font-size: 200px;
        color:rgb(255, 191, 0);
        margin-right: 30px;
        margin-top:50px;


       }
     }


   }

   // header-content-guest @extend ;


}

.nav-item{
display:flex;
flex-direction: row;
align-items:center;
text-transform: uppercase;
font-size:20px;
}

.list-item2{
  margin-top:8px;
  margin-right:20px;
  vertical-align: middle;
  a{
    color:#272343;
    text-decoration:underline;
    text-transform: uppercase;
    font-size:20px;
  }
}
