header {
  width: 100%;
  background: linear-gradient(to right, orange, yellow);

  & nav div ul li {
    font-size: 24px;
  }
    // header-content guest
   & .header-content-guest{
     display: flex;
     justify-content: center;

     @media screen and(max-width: 992px){
       flex-direction: column-reverse;
       align-items: center;
     }

     & .hcg-left{
       width: 50%;
       height: 300px;
       // background-color: pink;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;

       @media screen and(max-width: 992px){
        height: 260px;
       }


       & h2 {
         color: #eb6338;
        font-size: 50px;
        text-align: center;
        @media screen and(max-width: 992px){
          font-size: 40px;
        }
        @media screen and(max-width: 766px){
          font-size: 30px;
        }
       }

      & .header-searchbar{
        padding-top: 20px;
        display: flex;
        align-items: center;

        @media screen and(max-width: 766px){
          flex-direction: column;
        }

        & input{
          width: 200px;
          border-radius: 5px;
          margin-right: 20px;
          margin-top: 20px;


        }

        & button {
          padding: 4px 24px;
          border-radius: 10px;
          background-color: #eb6338;
          border: 0px;
          font-size: 20px;
          color: yellow;


        }
        & .container-search {
          background-color: transparent;
          @media screen and(max-width: 766px){
            background-color: transparent;

          }
          & ul {
            list-style: none;
            & li{
              width: 200px;
              &:hover{
                background-color: #eb6338;
                cursor: pointer;
              }
            }
          }
        }
      }

     }

     & div.hcg-right{
       width: 40%;
       height: 300px;
       // background-color: green;
       display: flex;
       justify-content: center;
       align-items: center;
       @media screen and(max-width: 992px){
        height: 200px;
       }

       & img {
         height: 150px;
         margin-right: 10px;

       }

       & i {
         font-size: 100px;
        color: #eb6338;
        margin-right: 10px;


       }
     }


   }

   // header-content-guest @extend ;


}
