



.navbar-brand{


  & img{
    width:100%;
    margin-top:80px;
    height:600px;
    @media screen and(max-width: 992px){
      display: none;
    }
    @media screen and(max-width: 766px){
      display: none;
    }
  }
}
header {
  //background: linear-gradient(#e66465, #9198e5);
  width: 100%;
  height:620px;
  margin-top:140px;
  padding:20px 0;
  background-position: center;
  background-size: cover;

  & .layover{
    //margin:70px auto 10px auto;
    width: 100%;
    height: 100%;
    //background-color: rgba(0, 0, 0, 0.3);
  }
  & nav {
    background-color:#ffbf00b3 ;
   // background: linear-gradient(to center, #e2eeee, #FFBF00);
    position: fixed;
    z-index:80;
    top: 0;
    right:0;
  }

  & nav div ul li {
    font-size: 24px;
  }
    // header-content guest
   & .header-content-guest{
     background-color: darkblue;
     display: flex;
     justify-content: center;
     background-color:transparent;



     @media screen and(max-width: 992px){
       flex-direction: column-reverse;
       align-items: center;
     }

     & .hcg-left{
     //  background-color: cornflowerblue;
       width: 50%;
       height: 300px;
       margin-top:60px;
       padding:20px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;

       @media screen and(max-width: 992px){
        height: 260px;
       }


       & h2 {
        color:#272343;
        font-weight:bold;
        padding-top:20px;
         font-family:Arial, Helvetica, sans-serif;
         font-size: 70px;
         text-align: center;
        @media screen and(max-width: 992px){
          font-size: 40px;
        }
        @media screen and(max-width: 766px){
          font-size: 30px;
        }
       }

      & .header-searchbar{
        //  background-color: cyan;
          padding-top: 20px;
          display: flex;
          align-items: flex-end;

        @media screen and(max-width: 766px){
          flex-direction: column;
        }

        & input{
          width: 500px;
          height:100px;
          border-radius: 15px;
          margin-top: 20px;
          text-align:justify;
          padding:10px;
          font-size: 40px;

        }

        & .search-results {
          background-color:white;
          //height:80px;
          border-radius: 15px;

          @media screen and(max-width: 766px){
          background-color: transparent;
          border-radius:10px;
          height:50px;


          }
          & ul {
            list-style: none;


            & li{
              width: 100%;
              height:80px;
              font-size:30px;
              text-transform: capitalize;
              &:hover{
                background-color:rgb(255, 191, 0, 0.4);
                cursor: pointer;
              }
            }
          }
        }
      }

     }

    //  .hcg-right{
    //   padding-left:50px;
      
      // width: 100%;
      // height: 300px;
    //  display: flex;
    //    justify-content: center;
    //    align-items: center;
    //    @media screen and(max-width: 992px){
    //     height: 200px;
    //    }

       & img {
        //margin-top:30px;
        height:600px;
       // margin-left:100px;
        width:100%;

       }
     }


   }

// }

.nav-item{
  display:flex;
  flex-direction: row;
  align-items:center;

  .nav-link:hover{
    text-decoration: underline;
  }
}

.list-item2{
  margin-top:8px;
  margin-right:20px;
  vertical-align: middle;


}
