
main{
  width: 100%;
  background-color:#fffffe;

  // tipologie
  h1{
    text-align:center;
    color:#272343;
    background-color: white;
    margin-bottom:25px;
    margin-top:25px;
  }

  .container-tipologie{
    // background: linear-gradient(to right, #ffffff, hsla(184, 76%, 81%, 0.788));
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    width: 70%;
    margin:0 auto;

    .tipologie{
      width:calc(100% / 5);
      padding:20px;
      display:flex;
      justify-content:space-between;
      flex-direction: column;

      @media screen and(max-width: 1200px){
        width:calc(100% / 5);
        
        
      }

      @media screen and(max-width: 768px){
        width:calc(100% / 5 -10px);
        
        
      }

      @media screen and (max-width: 576px) {
        width:calc(100% / 2);
        

    }

      img{
        width: 100%;
        border-radius:50%;

      }
      
      &:hover{
        @include transition;
        transform: scale(1.2);
        z-index: 70;
      }
   

    a{
      
      font-size: 20px;
      color:#272343;
      text-align:center;
      font-weight: bold;

      @media screen and(max-width: 768px){
        font-size: 15px;
        
        
      }
    }
      

   }
 }
  // sezione della parte ristoranti guest
  & h1 {
    font-size: 45px;
    font-weight: bold;
    color:#272343;
  }
// nella sezionescelta ristorante si puo' mettere lo slider
  & .choose-restaurant{
    // display:flex;
    // flex-wrap:nowrap;
    // justify-content: center;

    & h2 {
      margin-bottom: 30px;
      text-align: center;
    }


    & .guest-restaurants{
     // background: linear-gradient(to right, #ffffff, hsla(184, 76%, 81%, 0.788));
      width: 100%;
      margin: auto;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      

      @media screen and(max-width: 1200px){
        width: 80%;
        margin: auto;
        justify-content: space-between;
      }

      @media screen and(max-width: 768px){
        width: 80%;
        margin: auto;
        justify-content: space-between;
      }

      @media screen and (max-width: 576px) {
        width: 65%;
        justify-content: space-between;

    }

      & .card{
        
        width:calc(100% / 6);
        display: flex;       
        margin-top: 30px;
        margin-bottom: 30px;
      

        @media screen and(max-width: 1200px){
          width: calc(100% / 3 - 10px);
          margin-bottom: 30px;
        }


        @media screen and(max-width: 768px){
          width: calc(100% / 2 - 10px);
          margin-bottom: 30px;

        }

        @media screen and (max-width: 576px) {
            width: 100%;
            margin-bottom: 30px;

        }

     
        .card-img-top {   
          display:flex;
          justify-content:center;
          width:100%; 
          height:70%;     
          position:relative;

            &:hover {
              background-color: black;         
             opacity:0.6;
         }
         & img{
          width:100%;
          padding:10px;
        }
        }
        .cover-layover{ 
          display:none;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          
          color:#FFBF00;
          font-size: 60px;
        }
        .card-img-top:hover .cover-layover{
          
          display:block;
        }
      
        & a{
          text-decoration: none;
        }

        & p{
          color:#272343;
          font-weight: bold;
          font-size: 25px;
          margin-bottom: 20px;
          text-align: center;
          
          margin:0px auto 10px auto; 
          
        }
      }
    }
  }   // fine sezione ristoranti guest

  .card-restaurant{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    dispaly:flex;
    flex-direction: column;
    align-items: center;
    p{
      text-align:center;
      font-size: 25px;
      color:#272343;
      font-weight:bold;
      text-transform: capitalize;
    }
    .btn-menu{
      background-color:red;
    }
  }

}//fine main



  .banner {
    width: 100%;
    padding: 50px 0;
    background-color: #fff;
    & .container {
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 992px) {
        flex-direction: column;
      }
    }
    & .left-side-banner, .right-side-banner {
      width: 80%;
      margin: auto;

      @media screen and (max-width: 992px) {
        width: 100%;
      }
    }
    & h2 {
      text-align: center;
      color:#272343;
    }
    & img{
      height: 350px;
      margin: auto;
    }

    & .container-img-app{
      justify-content: center;
      @media screen and (max-width: 768px) {
        flex-direction: column;
      }
    }

    & .container-img-app img {
      height: 75px;
      margin: auto;
     }

   }

.container-section{
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  fex-wrap:wrap;
  padding:20px;

  .section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    img{
      margin:0 auto;
      width:50%;
      margin-bottom:40px;
    }
    h3{
      text-align:center;
      color:#272343;
      font-weight: bold;

    }
    p{
      text-align:center;
      color:#272343;
      font-size: 20px;
    }
  }

}







