.navbar-brand{
  font-size: 30px;
  font-weight: bold;
  font-style: inherit;
}
.header_custom {

  & .layover{
    margin:70px auto 10px auto;
    width: 80%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  & nav {
    background-color:rgb(255, 191, 0, 0.7) ;
   // background: linear-gradient(to center, #e2eeee, #FFBF00);
    position: fixed;
    z-index:80;
    top: 0;
    right:0;
  }

  & nav div ul li {
    font-size: 24px;
  }
    // header-content guest
   & .header-content-guest{
     display: flex;
     justify-content: center;
     background-color:transparent;



     @media screen and(max-width: 992px){
       flex-direction: column-reverse;
       align-items: center;
     }

     & .hcg-left{
       width: 50%;
       height: 300px;
       margin-top:60px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;

       @media screen and(max-width: 992px){
        height: 260px;
       }


       & h2 {
         color: white;
         font-family:Arial, Helvetica, sans-serif;
        font-size: 70px;
        text-align: center;
        @media screen and(max-width: 992px){
          font-size: 40px;
        }
        @media screen and(max-width: 766px){
          font-size: 30px;
        }
       }

      & .header-searchbar{
        padding-top: 20px;
        display: flex;
        align-items: flex-end;

        @media screen and(max-width: 766px){
          flex-direction: column;
        }

        & input{       
          width: 300px;
          height:50px;
          border-radius: 5px; 
          margin-top: 20px;
          text-align:justify;
          padding:10px;
          font-size: 20px;

        }

        & .container-search {
          background-color:white;
          @media screen and(max-width: 766px){
          background-color: transparent;
          border-radius:10px;
          

          }
          & ul {
            list-style: none;
          
            
            & li{
              width: 100%;
              font-size:20px;
              text-transform: capitalize;
              &:hover{
                background-color:rgb(255, 191, 0, 0.4);
                cursor: pointer;
              }
            }
          }
        }
      }

     }
     
     & div.hcg-right{
       width: 60%;
       height: 300px;
       display: flex;
       justify-content: center;
       align-items: center;
       @media screen and(max-width: 992px){
        height: 200px;
       }

      //  & img {
      //    height: 250px;
      //    margin-right: 10px;

      //  }

       & i {
         font-size: 200px;
        color:rgb(255, 191, 0);
        margin-right: 30px;
        margin-top:50px;


       }
     }


   }

   // header-content-guest @extend ;


}

.nav-item{
display:flex;
flex-direction: row;
align-items:center;
text-transform: uppercase;
font-size:20px;
}

.list-item2{
  margin-top:8px;
  margin-right:20px;
  vertical-align: middle;
  a{
    color:#272343;
    text-decoration:underline;
    text-transform: uppercase;
    font-size:20px;
  }
}

// sezione admin
@import url('https://fonts.googleapis.com/css?family=Codystar:300&display=swap');

.jumbotron-admin{
  width: 100%;
  height: 250px;
  background-color: #0f2a4b;
}

.sfondo-dinamico{
  background-image: url('https://i.pinimg.com/originals/2e/e6/99/2ee6998e34c3e2eff7b894c66cfc5267.jpg');
  background-size: cover;
}

  .neons {
    background-color: transparent;
    text-align: center;
    font-family: 'Codystar';
  }

  .neons h4 {
    font-size: 8rem;
    text-align: center;
    font-weight: bold;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
  }

  @-webkit-keyframes glow {
      from {
        color: #fff;
      text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
    }
    
    to {
      color: gray;
      text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
    }
  }

  .formato_1{
    width: 500px;
  }
  .formato_2{
    width: 300px;
  }